<!--input address -->
<div class="container center" style="">

  <div class="row" style="background-color: black;">
    <div class="col-xs-1">&nbsp;</div>
    <div class="col-xs-10" style="text-align: center;">

     <div class="row" style="height:10px;">&nbsp;</div>
     <div class="row">
      <div class="col-lg-6">
       <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for...">
        <span class="input-group-btn">
         <button class="btn btn-default" type="button">Go!</button>
       </span>
     </div><!-- /input-group -->
   </div><!-- /.col-lg-6 -->
 </div><!-- /.row -->
 <div class="row" style="height:10px;">&nbsp;</div>


</div>
<div class="col-xs-1">&nbsp;</div>
</div>

<script type="text/javascript">
  var highlightPosition = new google.maps.LatLng(<%=@highlight.latitude%>,<%=@highlight.longitude%>)

  function initialize(){
    var mapProp = {
      center:highlightPosition,
      zoom:15,
      mapTypeId:google.maps.MapTypeId.ROADMAP
    };

    var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);

    var marker=new google.maps.Marker({
      position:highlightPosition,
    });

    marker.setMap(map);

    var infowindow = new google.maps.InfoWindow({
      content: "<%= @highlight.title %>"
    });

    infowindow.open(map,marker);

  }

google.maps.event.addDomListener(window, 'load', initialize);
</script>

  <div class="row" style="">
    <div class="col-xs-1" style="">&nbsp;</div>
    <div class="col-xs-10" style="text-align: center;">
     <div id="googleMap" style="width:340px;height:380px;">
     </div>
     <!-- <img class="img-responsive" src="https://upload.wikimedia.org/wikipedia/commons/0/0c/Location_map_San_Francisco_County.png"> -->
   </div>
   <div class="col-xs-1" style="">&nbsp;</div>
 </div>




 <div class="row" style="height:20px;">&nbsp;</div>


 <div class="row" style="">
  <div class="col-xs-1" style="">&nbsp;</div>
  <div class="col-xs-10" style="text-align: center;">

    <div class="jumbotron">
      <h1><%= @highlight.title %></h1>
      <p><%= @highlight.address %></p>

      <!-- Audio submission form -->
      <% if @audio %>
      <audio controls>
        <source src="https://clyp.it/cirn04tc.mp3" type="audio/ogg">
          <source src=<%= @audio %> type="audio/mpeg">
          </audio>
          <% end %>

          <p> Submit your Highlight here </p> <form action="/highlights/<%= @highlight.id %>" enctype='multipart/form-data' method="post">
          <input type="hidden" name="_method" value="put">
          <input type="file" name="audio">
          <input type="submit" class="btn btn-primary btn-lg" value="Submit Audio">
        </form>


        <img src="/images/star_on.png" style="width:20px;">
        <img src="/images/star_on.png" style="width:20px;">
        <img src="/images/star_off.png" style="width:20px;">
        <img src="/images/star_off.png" style="width:20px;">
        <img src="/images/star_off.png" style="width:20px;">

        <div class="row" style="height:20px;">&nbsp;</div>
        <div class="row" style="">
          <span class="label label-danger">coffee</span>
          <span class="label label-danger">expensive</span>
          <span class="label label-danger">local</span>
          <span class="label label-danger">touristic</span>
        </div>


      </div>


<!-- <span class="label label-default">&#10096; PREVIOUS HIGHLIGHT</span>
  <span class="label label-default">NEXT HIGHLIGHT &#10097;</span> -->

  <!-- <a href="2"><button type="button">NEXT HIGHLIGHT</button></a> -->

<div class="row" style="">
        <div class="col-xs-1" style="">&nbsp;</div>
        <div class="col-xs-10" style="text-align: center;">
          <p><a class="btn btn-primary btn-lg" href=<%= @highlight.id + 1 %> style="background-color: black;" role="button">
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; NEXT HIGHLIGHT &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </a></p>
        </div>
        <div class="col-xs-1" style="">&nbsp;</div>
      </div>


  <div class="row" style="height:40px;">&nbsp;</div>


</div>
<div class="col-xs-1" style="">&nbsp;</div>
</div>


</div>